<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/pantalla.css">
    <title>Document</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
<!-- Brand -->
<a class="navbar-brand" href="#">Grupo</a>

<!-- Links -->
<ul class="navbar-nav">
  <li class="nav-item">
    <a class="nav-link" href="/views/general/list">General</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/views/pantalla/list">Pantalla Gamer</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/views/teclado/list">Teclado Gamer</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/views/mouse/list">Mouse Gamer</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/views/pcgamer/list">Pc Gamer</a>
  </li>
</ul>
</nav>
<br>

<!-- <div class="container">
<h3>Bienvenidos a nuestra pagina web</h3>
<p>Presentacion del trabajo del grupo</p>
<p>-Yeshua Aguilar Calderon<br>
   -Carlos Lora Puma<br>
   -Kevin Josue Yaringaño Yaringaño<br>
   -Kenia Milagros Ventura Cayllahua<br>
   -Juan Carlos Laveriano Chavez<br>
</p>
</div>
<br>
<br>
<br> -->



<div class="container mt-5">
    <div class="card">
        <div class="card-header text-center">LISTA DE PRODUCTOS</div>
        <div class="card-body">
            <a href="#" class="btn btn-success" href="/producto/form/0" >NUEVO</a>
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>NOMBRE</th>
                    <th>GAMA</th>
                    <th>PRECIO</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <% if(dataPcgamer.length){ %>
                            <% dataPcgamer.forEach( item => {%>
                                <tr>
                                    <td><%= item.nombre  %></td>
                                    <td><%= item.Gama  %></td>
                                    <td><%= item.precio  %></td>
                                </tr>
                            <% })%>
                        <% } %>
                    </tr>
                </tbody>
              </table>

        </div>
      </div>
</div>






</body>
</html>